<td>
    <a href="/{{id}}/" class="name">{{name}}</a>
</td>
<td>
    {{title}}
</td>
<td>
    {{address}}
</td>
<td>
<ul>
{{#each phones}}
    <li>{{this}}</li>
{{/each}}
</ul>

</td>
<td>
    {{email}}
</td>
<td>
    <ul class="actions">
        <li><a href="/{{id}}/">Edit</a></li>
        <li><a href="#" data-action-delete>Delete</a></li>
    </ul>
</td>

